// execdashboard CPTA
.cptaTxt {
    font-family: Lato, "Lucida Grande", Arial, Helvetica, sans-serif;
    text-align: center;
    user-select: none;
    font-weight: bold;
    font-size: 16px;
    color: rgb(215, 31, 75);
    margin-top: 10px;
    cursor: default;
}

.asiTxt {
    font-family: Lato, "Lucida Grande", Arial, Helvetica, sans-serif;
    text-align: center;
    user-select: none;
    font-size: 12px;
    color: rgb(215, 31, 75);
    margin-top: 5px;
    cursor: default;
    opacity: 0.8;
    font-weight: bold;
}

.asi_tile {
    width: 200px;
    height: 200px;
    padding: 10px;
    background: #FF7F27;
    margin-left: 44%
}

.daysTxt,
.daysNumTxt,
.ple_type1,
.ple_type2,
.ple_title1,
.ple_title2,
.ple_percentage1,
.ple_percentage2,
.ple_number2,
.ple_number1,
.csr_title,
.csr_content {
    font-family: Lato, "Lucida Grande", Arial, Helvetica, sans-serif;
    color: #FFFFFF
}

.daysTxt {
    font-size: 22px
}

.daysNumTxt {
    font-size: 48px;
    font-weight: bold;
    text-align: center
}

//execdashboard PLE 
.sma_channel_tile {
    float: left;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background: #FF7F27;
    box-shadow: 10px 10px 5px #888888;
}
.sma_channel_title {
    font-size: 20px;
    text-align: left;
    color: #FCFB00;
    font-weight: bold
}

.sma_channel_content {
    font-size: 14px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.sma_channel_bottom {
    margin-top: 30px
}

.sma_channel_percent {
    font-size: 30px;
    width: 130px;
    float: left;
    font-weight: bold;
    color: #FFFFFF
}

.sma_channel_number {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF
}

.sma_channel_number_area {
    float: right;
    color: #FFFFFF
}

//////////////////////Executive Dashboard ProductPromotionByChannel//////////////////
//////////////////Shopping Mode Analytics//////////////
.sma_product_tile {
    float: left;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background: #8081FF;
    box-shadow: 10px 10px 5px #888888;
}
.sma_product_title {
    font-size: 20px;
    text-align: left;
    color: #FCFB00;
    font-weight: bold
}

.sma_product_content {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.sma_product_bottom {
    margin-top: 50px
}

.sma_product_percent {
    font-size: 30px;
    width: 130px;
    float: left;
    font-weight: bold;
    color: #FFFFFF
}

.sma_product_number {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF
}

.sma_product_number_area {
    float: right;
    color: #FFFFFF
}
//////////////////Digital Shopping Activity//////////////
.dsa_tile {
    float: left;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background: #8081FF;
    box-shadow: 10px 10px 5px #888888;
}
.dsa_title {
    font-size: 20px;
    text-align: left;
    color: #FCFB00;
    font-weight: bold
}

.dsa_content {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.dsa_bottom {
    margin-top: 50px
}

.dsa_percent {
    font-size: 30px;
    width: 130px;
    float: left;
    font-weight: bold;
    color: #FFFFFF
}

.dsa_number {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF
}

.dsa_number_area {
    float: right;
    color: #FFFFFF
}
////////////////// Executive Dashboard Product Bundles By Customer Behavior//////////////
///////////////Customer Payment Preferences/////////////////

.prod_pay_tile {
    float: left;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background: #8081FF;
    box-shadow: 10px 10px 5px #888888;
}
.prod_pay_title {
    font-size: 20px;
    text-align: left;
    color: #FCFB00;
    font-weight: bold
}

.prod_pay_content {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.prod_pay_bottom {
    margin-top: 50px
}

.prod_pay_percent {
    font-size: 30px;
    width: 130px;
    float: left;
    font-weight: bold;
    color: #FFFFFF
}

.prod_pay_number {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF
}

.prod_pay_number_area {
    float: right;
    color: #FFFFFF
}
///////////////Customer Payment Preferences/////////////////
//// Customer Product Appetite///////
.prod_product_tile {
    float: left;
    margin: 50px;
    padding: 10px;
    width: 200px;
    height: 200px;
    background: #8081FF;
    box-shadow: 10px 10px 5px #888888;
}
.prod_product_title {
    font-size: 20px;
    text-align: left;
    color: #FCFB00;
    font-weight: bold
}

.prod_product_content {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.prod_product_bottom {
    margin-top: 50px
}

.prod_product_percent {
    font-size: 30px;
    width: 130px;
    float: left;
    font-weight: bold;
    color: #FFFFFF
}

.prod_product_number {
    font-size: 12px;
    font-weight: bold;
    color: #FFFFFF
}

.prod_product_number_area {
    float: right;
    color: #FFFFFF
}
////////////////////////Sub Dashboard Campaigns App PLE///////////////////
///////best recommender////////////
.channel_recommender {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start
} 
.channel_recommender_tile {
    padding: 10px;
    width: 220px;
    height: 220px;
    background: #8081FF;
    box-shadow: 10px 10px 5px #888888;
}
.channel_recommender_title {
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold
}

.channel_recommender_total {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.channel_recommender_percent {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}
.channel_best_recommender {
    font-size: 12px;
    text-align: left;
    color: #FFFFFF
}
.channel_recommender_type {
    font-size: 12px;
    text-align: center;
    color: #FFFFFF
}
////////////sma_channel+recommender///////////////
.channel_row {
    margin-top: 30px
}
.channel_recommender_text_tile {
    float: right;
    padding: 10px;
    width: 250px;
    height: 250px;
    background: #FF7F27;;
    box-shadow: 10px 10px 5px #888888;
}
.channel_main_tile {
    padding: 10px;
    width: 200px;
    height: 170px;
    background: #8081FF;
    box-shadow: 10px 10px 5px #888888;
}
.channel_recomender_text {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}
.channel_main_title {
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    font-weight: bold
}

.channel_main_total {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}

.channel_main_percent {
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    color: #FFFFFF
}
